@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.post__title {
    background: linear-gradient(90deg, #FF8A00 0%, #BD00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post__title:hover{
    background: linear-gradient(90deg, #ff0000 0%, #db1111 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active_tab {
    background-color: #5f1aff;
    color: #fff;
}


.loader_wrapper {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 444444444;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.735);
    top: 0;
    left: 0;
    backdrop-filter: blur(23px);
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
}
  
.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}
  
.spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}
  
.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}


.logo-svg{
    fill: #fff;
}

