
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

.post__title{
    background: linear-gradient(90deg, #FF8A00 0%, #BD00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active_tab{
    background-color: #5f1aff;
    color: #fff;
}